{% macro displayFileInfo(idHelper) %}
    {% set fileInfo = idHelper.getFileInfo %}
    {% if fileInfo['error'] is not defined %}
    <div class="table-responsive" id="file-info">
        <table class="table table-bordered">
            <tr>
                <th>Тип файла</th>
                <td>{{ fileInfo['mime_type'] }}</td>
            </tr>
            <tr>
                <th>Формат файла</th>
                <td>{{ fileInfo['fileformat'] }}</td>
            </tr>
            {% if 'image' in fileInfo['mime_type'] %}
                {% block imageInfo %}
                    <tr>
                        <th>Расширение</th>
                        <td>{{ fileInfo['video']['resolution_x'] }} x {{ fileInfo['video']['resolution_y'] }} px</td>
                    </tr>
                        {% if fileInfo['video']['bits_per_sample'] %}
                            <tr>
                                <th>Глубина цвета</th>
                                <td>{{ fileInfo['video']['bits_per_sample'] }} bit</td>
                            </tr>
                        {% endif %}
                {% endblock %}
            {% endif %}

            {% if 'video' in fileInfo['mime_type'] %}
                {% block videoInfo %}
                    <tr>
                        <th>Расширение</th>
                        <td>{{ fileInfo['video']['resolution_x'] }} x {{ fileInfo['video']['resolution_y'] }} px</td>
                    </tr>
                    {% if fileInfo['video']['frame_rate'] %}
                        <tr>
                            <th>Кадров в секунду</th>
                            <td>{{ fileInfo['video']['frame_rate'] }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Длительность</th>
                        <td>{{ fileInfo['playtime_string'] }}</td>
                    </tr>
                {% endblock %}
            {% endif %}

            {% if 'audio' in fileInfo['mime_type'] %}
                {% block audioInfo %}
                    {% if fileInfo['audio']['channels'] %}
                        <tr>
                            <th>Каналы</th>
                            <td>{{ fileInfo['audio']['channels'] }}</td>
                        </tr>
                    {% endif %}
                    {% if fileInfo['bitrate'] %}
                        <tr>
                            <th>Битрейт</th>
                            <td>{{ fileInfo['bitrate'] }}</td>
                        </tr>
                    {% endif %}
                    {% if fileInfo['audio']['bitrate_mode'] %}
                        <tr>
                            <th>Тип битрейта</th>
                            <td>{{ fileInfo['audio']['bitrate_mode'] }}</td>
                        </tr>
                    {% endif %}
                    {% if fileInfo['audio']['codec'] %}
                        <tr>
                            <th>Кодек</th>
                            <td>{{ fileInfo['audio']['codec'] }}</td>
                        </tr>
                    {% endif %}
                    {% if fileInfo['audio']['sample_rate'] %}
                        <tr>
                            <th>Частота</th>
                            <td>{{ fileInfo['audio']['sample_rate'] }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Длительность</th>
                        <td>{{ fileInfo['playtime_string'] }}</td>
                    </tr>
                {% endblock %}
            {% endif %}
            {% if fileInfo['md5_data'] %}
                <tr>
                    <th>Хэш-сумма</th>
                    <td>{{ fileInfo['md5_data'] }}</td>
                </tr>
            {% endif %}
        </table>
    </div>
    {% endif %}
{% endmacro %}