{% extends "skeleton.twig" %}
{% import "comments.twig" as commentsMacro %}
{% import "file_info.twig" as fileInfoMacro %}
{% block pageJs %}
    <script src="/media/js/comments.js"></script>
    <script src="/media/js/videojs/video.min.js"></script>
{% endblock %}
{% block pageTitle %} Просмотр файла {% endblock %}
{% block pageBody %}
<div class="container-fluid">
    {% if error %}
        <div id="error-report" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Ошибка:</span>
            Вы не заполнили поле комментария.
        </div>
    {% endif %}
    <div class="panel panel-info file-panel">
        <div class="panel-heading"><h3 class="panel-title">{{ file.name }}</h3></div>
        <div class="panel-body">
            <a href="{{ file.getDownloadLink() }}" type="button" class="btn btn-success">Скачать</a>
            {% if canManageFile == true %}
                <form onSubmit="return confirm('Действительно удалить?');" id="file-delete-form" method="post" action="/file/{{ file.id }}/delete">
                    <!--<input type="hidden" name="csrf_value" value="{{ csrf['value'] }}">
                    <input type="hidden" name="csrf_name" value="{{ csrf['name'] }}"> !-->
                    <button class="btn btn-danger" id="file-delete-button">Удалить</button>
                </form>
            {% endif %}
            {% if idHelper.isPreviewable(fileInfo) %}
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <img src="{{ file.getLinkToPreview(file) }}" alt="Preview">
                    </div>
                </div>
            {% endif %}
            {% if idHelper.isAudio(fileInfo) %}
                <br>
                <audio controls>
                    <source src="{{ file.getDownloadLink() }}?flag=nocount" type='audio/mpeg' preload="auto">
                    Your browser does not support the audio element.
                </audio>
            {% endif %}
            {% if idHelper.isVideo(fileInfo) %}
                <video id="my-video" class="video-js vjs-big-play-centered" controls preload="auto" width="640" height="360"
                    poster="/media/img/placeholder.png" data-setup="{}">
                    <source src="{{ file.getDownloadLink() }}?flag=nocount" type='video/webm'>
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
            {% endif %}
            {{ fileInfoMacro.displayFileInfo(fileInfo) }}
        </div>
        <div class="panel-footer">
            <span class="foot-text"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="glyph-text">{{ file.uploader }}</span></span>
            <span class="foot-text"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span><span class="glyph-text">{{ file.getUploadDate }}</span></span>
            <span class="foot-text"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span><span class="glyph-text">{{ file.downloads }} скачиваний</span></span>
        </div>
    </div>
    <div class="row" id="comments-section">
        <div class="col-md-12">
            <div class="page-header">
                <h3><small id="total-comments-count" class="pull-right">{{ comments['count'] }} комментариев</small> Комментарии </h3>
            </div>
            {% if comments['count'] == 0 %}
                <h4 id="no-comments-found">У этого файла еще нет комментариев. Вы можете оставить комментарий воспользовавшись формой ниже.</h4>
            {% endif %}
            <div class="comments-list" id="file-comments-list">
                {{ commentsMacro.display(comments['comments'], commentErrors, replyTo) }}
            </div>
            <form method="post" id="comment-form" action="/file/{{ file.id }}">
                <div class="page-header">
                    <h3>Оставить комментарий</h3>
                </div>
                <div class="form-group {% if commentErrors != null and replyTo == null %} has-error {% endif %}" id="comment-form-group">
                    <label for="comment">Комментарий:</label>
                    <textarea class="form-control" rows="5" id="comment-field" name="comment"></textarea>
                    {% if commentErrors != null and replyTo == null %}
                        {% for error in commentErrors %}
                            <label style="display: block;" class='control-label' for='comment'>{{ error }}</label>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    <button type="submit" id="comment-button" class="btn btn-default">Отправить</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Reply form template !-->
    <script type="text/x-template" id="reply-form-template">
        <div class="page-header">
            <h3>Ответить на комментарий</h3>
        </div>
        <div class="form-group" id="reply-form-group">
            <label for="reply">Комментарий:</label>
            <textarea class="form-control" rows="5" id="reply-field" name="reply"></textarea>
        </div>
        <div class="form-group">
            <button type="button" id="reply-button" class="btn btn-default">Отправить</button>
        </div>
    </script>
    <!-- Comment template !-->
    <script type="text/x-template" id="new-comment-template">
        <p class="pull-right"><small>%commentDate%</small></p>
        <div class="media-body">
            <h4 class="media-heading user-name">%commentAuthor%</h4>
            <span class="comment-text">%commentText%</span>
            <p><small><a id="reply-%commentId%" class="comments-reply-button">Ответить</a></small></p>
        </div>
        <div class='children' style='margin-left: 25px;'></div>
    </script>
    <!-- Error label template !-->
    <script type="text/x-template" id="error-label-template">
        <label style="display: block;" id="error-label-%errorId%" class='control-label real-label'>%errorText%</label>
    </script>
</div>
{% endblock %}