{% extends "skeleton.twig" %}
{% import "comments.twig" as commentsMacro %}
{% block pageTitle %} Просмотр файла {% endblock %}
{% block pageBody %}
<div class="container-fluid">
    {% if error %}
        <div id="error-report" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Ошибка:</span>
            Вы не заполнили поле комментария.
        </div>
    {% endif %}
    <div class="panel panel-info file-panel">
        <div class="panel-heading"><h3 class="panel-title">{{ file.name }}</h3></div>
        <div class="panel-body">
            <div class="btn-group btn-group" role="group">
                <a href="/file/get/{{ file.id }}" type="button" class="btn btn-success">Скачать</a>
                {% if authCookie.value == file.getAuthToken %}
                    <button class="btn btn-danger"
                        onClick="if(confirm('Действительно удалить?'))
                        post(window.location.href + '/delete',
                        {'csrf_value': '{{ csrfValue }}', 'csrf_name': '{{ csrfName }}'});">
                            Удалить
                    </button>
                {% endif %}
            </div>
            {% if idHelper.isPreviewable %}
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <img src="{{ fileHelper.getLinkToPreview(file) }}" alt="Preview">
                    </div>
                </div>
            {% endif %}
            {% if idHelper.isAudio %}
                <br>
                <audio controls>
                    <source src="/file/get/{{ file.id }}?flag=nocount" type='audio/mpeg' preload="auto">
                    Your browser does not support the audio element.
                </audio>
            {% endif %}
            {% if idHelper.isVideo %}
                <video id="my-video" class="video-js vjs-big-play-centered" controls preload="auto" width="640" height="360"
                    poster="/media/img/placeholder.png" data-setup="{}">
                    <source src="/file/get/{{ file.id }}?flag=nocount" type='video/webm'>
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
            {% endif %}
            {% include "file_info.twig" %}
        </div>
        <div class="panel-footer">
            <span class="foot-text"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="glyph-text">{{ file.uploader }}</span></span>
            <span class="foot-text"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span><span class="glyph-text">{{ file.getUploadDate }}</span></span>
            <span class="foot-text"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span><span class="glyph-text">{{ file.downloads }} скачиваний</span></span>
        </div>
    </div>
    <div class="row" id="comments-section">
        <div class="col-md-12">
            <div class="page-header">
                <h3><small class="pull-right">{{ comments|length }} комментариев</small> Комментарии </h3>
            </div>
            {% if comments|length == 0 %}
                <h4 id="no-comments-found">У этого файла еще нет комментариев. Вы можете оставить комментарий воспользовавшись формой ниже.</h4>
            {% endif %}
            <div class="comments-list" id="file-comments-list">
                <div class="media" id="comment-dummy" style="display: none; margin-top: 5px; margin-left: 0px;">
                    <p class="pull-right"><small>01/01/1970, 0:00 AM</small></p>
                    <div class="media-body">
                        <h4 class="media-heading user-name">Anonymous</h4>
                        <span class="comment-text">Dummy text</span>
                        <p><small><a id="reply-dummy" class="comments-reply-button">Ответить</a></small></p>
                    </div>
                </div>
                {{ commentsMacro.display(comments) }}
            </div>
            <form method="post" id="comment-form">
                <div class="page-header">
                    <h3>Оставить комментарий</h3>
                </div>
                <div class="form-group" id="comment-form-group">
                    <label for="comment">Комментарий:</label>
                    <textarea class="form-control" rows="5" id="comment-field" name="comment"></textarea>
                </div>
                <div class="form-group">
                    <button type="button" id="comment-button" class="btn btn-default">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}