{% extends "skeleton.twig" %}
{% import "comments.twig" as commentsMacro %}
{% import "file_info.twig" as fileInfoMacro %}
{% block pageJs %}
    <script src="/media/js/comments.js"></script>
    <script src="/media/js/videojs/video.min.js"></script>
{% endblock %}
{% block pageTitle %}{{ file.getClientFilename }}{% endblock %}
{% block pageBody %}
<div class="container-fluid">
    {% if error %}
        <div id="error-report" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">{% trans %}Error:{% endtrans %}</span>
            {% trans %}The comment field is empty.{% endtrans %}
        </div>
    {% endif %}
    <div class="panel panel-info file-panel">
        <div class="panel-heading"><h3 class="panel-title">{{ file.getClientFilename }}</h3></div>
        <div class="panel-body">
            <a href="{{ file.getDownloadLink() }}" type="button" class="btn btn-success">
                {% trans %}Download{% notes %} File download button text.{% endtrans %}
            </a>
            {% if canManageFile == true %}
                <form onSubmit="return confirm('{% trans %}Confirm deletion?{% endtrans %}');" id="file-delete-form" method="post" action="/{{ lang }}/file/{{ file.id }}/delete">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                    <button class="btn btn-danger" id="file-delete-button">{% trans %}Delete{% notes %} File deletion button text.{% endtrans %}</button>
                </form>
            {% endif %}
            {% if idHelper.isPreviewable(fileInfo) %}
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <img src="{{ file.getLinkToPreview(file) }}" alt="Preview">
                    </div>
                </div>
            {% endif %}
            {% if idHelper.isAudio(fileInfo) %}
                <br>
                <audio controls>
                    <source src="{{ file.getDownloadLink() }}?flag=nocount" type='audio/mpeg' preload="auto">
                        {% trans %}Your browser does not support the audio element.{% endtrans %}
                </audio>
            {% endif %}
            {% if idHelper.isVideo(fileInfo) %}
                <video id="my-video" class="video-js vjs-big-play-centered"
                    controls preload="auto" width="640" height="360" data-setup="{}">
                    <source src="{{ file.getDownloadLink() }}?flag=nocount" type='{{ fileInfo['mime_type'] }}'>
                    <p class="vjs-no-js">
                        {% trans %}
                            To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video
                        {% endtrans %}
                    </p>
                </video>
            {% endif %}
            {{ fileInfoMacro.displayFileInfo(fileInfo) }}
        </div>
        <div class="panel-footer">
            <span class="foot-text"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="glyph-text">{{ file.uploader }}</span></span>
            <span class="foot-text"><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span><span class="glyph-text">{{ file.getFormattedSize }}</span></span>
            <span class="foot-text"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span><span class="glyph-text">{{ file.getUploadDate }}</span></span>
            <span class="foot-text"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                <span class="glyph-text">
                    {% set downloadsPlural %}
                        {% trans %}
                            {0, plural, =0{downloads} one{downloads} other{downloads}}
                        {% endtrans %}
                    {% endset %}
                    {{ file.downloads }} {{ translator.translatePlural(downloadsPlural, file.downloads) }}
            </span></span>
        </div>
    </div>
    <div class="row" id="comments-section">
        <div class="col-md-12">
            <div class="page-header">
                <h3>
                    <small class="pull-right">
                        <span id="total-comments-count">{{ comments['count'] }}</span>
                        {% set commentsPlural %}
                            {% trans %}
                                {0, plural, =0{comments} one{comment} other{comments}}
                            {% endtrans %}
                        {% endset %}
                        {{ translator.translatePlural(commentsPlural, comments['count']) }}
                        </small>
                        {% trans %}Comments {% notes %} Header text for the comments section{% endtrans %}
                </h3>
            </div>
            {% if comments['count'] == 0 %}
                <h4 id="no-comments-found">{% trans %}This file does not have any comments yet. You can leave a comment using the form below.{% endtrans %}</h4>
            {% endif %}
            <div class="comments-list" id="file-comments-list">
                {{ commentsMacro.display(comments['comments'], commentErrors, replyTo, lang, csrf_token) }}
            </div>
            <form method="post" id="comment-form" action="/{{ lang }}/file/{{ file.id }}/">
                <input type="hidden" id="csrf-token-input" name="csrf_token" value="{{ csrf_token }}">
                <div class="page-header">
                    <h3>{% trans %}Leave a comment {% notes %} Header of the post comment form{% endtrans %}</h3>
                </div>
                <div class="form-group {% if commentErrors != null and replyTo == null %} has-error {% endif %}" id="comment-form-group">
                    <label for="comment">{% trans %}Comment: {% notes %} Label for comment textarea{% endtrans %}</label>
                    <textarea class="form-control" rows="5" id="comment-field" name="comment"></textarea>
                    {% if commentErrors != null and replyTo == null %}
                        {% for error in commentErrors %}
                            <label style="display: block;" class='control-label' for='comment'>{{ error }}</label>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    <button type="submit" id="comment-button" class="btn btn-default">
                        {% trans %}Send{% notes %} Submit button for comment form.{% endtrans %}
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- Reply form template !-->
    <script type="text/x-template" id="reply-form-template">
        <div class="page-header">
            <h3>{% trans %}Reply to the comment {% notes %} Header of the post reply form{% endtrans %}</h3>
        </div>
        <div class="form-group" id="reply-form-group">
            <label for="reply">{% trans %}Comment: {% notes %} Label for comment reply textarea{% endtrans %}</label>
            <textarea class="form-control" rows="5" id="reply-field" name="reply"></textarea>
        </div>
        <div class="form-group">
            <button type="button" id="reply-button" class="btn btn-default">
                {% trans %}Send {% notes %} Submit button for reply form{% endtrans %}
            </button>
        </div>
    </script>
    <!-- Comment template !-->
    <script type="text/x-template" id="new-comment-template">
        <p class="pull-right"><small>%commentDate%</small></p>
        <div class="media-body">
            <h4 class="media-heading user-name">%commentAuthor%</h4>
            <span class="comment-text">%commentText%</span>
            <p><small><a id="reply-%commentId%" class="comments-reply-button">
                {% trans %}Reply{% notes %} A link under every comment, when clicked - reply form shows up.{% endtrans %}
            </a></small></p>
        </div>
        <div class='children' style='margin-left: 25px;'></div>
    </script>
    <!-- Error label template !-->
    <script type="text/x-template" id="error-label-template">
        <label style="display: block;" id="error-label-%errorId%" class='control-label real-label'>%errorText%</label>
    </script>
</div>
{% endblock %}