{% extends "skeleton.twig" %}
{% block pageTitle %} {% trans %}Home page{% endtrans %} {% endblock %}
{% block pageBody %}
<div class="container-fluid">
    {% if popularFiles == null and lastFiles == null %}
        <h2 class="col-md-4 col-md-offset-5">{% trans %}The file list is empty.{% endtrans %}</h2>
    {% else %}
        <div class="panel panel-default col-md-4 col-md-offset-2" id="popular-files">
            <div class="panel-body">
                <h4>{% trans %}Popular files{% endtrans %}</h4>
                <ol>
                    {% for popularFile in popularFiles %}
                        <li><a href="/{{ lang }}/file/{{ popularFile.id }}/">{{ popularFile.name }}</a></li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="panel panel-default col-md-4" id="last-files">
            <div class="panel-body">
                <h4>{% trans %}Last files{% endtrans %}</h4>
                <ol>
                    {% for lastFile in lastFiles %}
                        <li><a href="/{{ lang }}/file/{{ lastFile.id }}/">{{ lastFile.name }}</a></li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}