{% extends "skeleton.twig" %}
{% block pageTitle %} {% trans %}Search{% endtrans %} {% endblock %}
{% set navLink = 'search' %}
{% block pageBody %}
{% import "pagination.twig" as paginationMacro %}
<div class="container-fuild">
    {% block error %}
        {% if error %}
            <div id="search-error-report" class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">{% trans %}Error:{% endtrans %}</span>
                {% trans %}The search field is empty{% endtrans %}
            </div>
        {% endif %}
    {% endblock %}
    <form method="get">
        <div class="row" id="search-box">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">{% trans %}Search{% endtrans %}</button>
                    </span>
                    <input type="text" name="query" class="form-control" value="{{ query }}" placeholder="{% trans %}Enter a part of file's name{% endtrans %}" required>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
    </form>
    <div class="panel panel-default col-md-6 col-md-offset-3" id="search-panel">
        <div class="panel-body">
            {% if (query is not null) and (files|length != 0) %}
                <h4>{% trans %}Search results for {% endtrans %} <i>&laquo;{{ query }}&raquo;</i></h4>
                <ol>
                    {% for file in files %}
                        {% if file.getDeleted == true %}
                            <li>{% trans %}File is deleted{% endtrans %}</li>
                        {% else %}
                            <li><a href="/{{ lang }}/file/{{ file.id }}/">{{ file.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ol>
                {% if pager.getPages > 1 %}
                    {{ paginationMacro.displayPagination(page, pager) }}
                {% endif %}
            {% elseif (query is not null) and (files|length == 0) %}
                <h4>{% trans %}Nothing is found for <i>&laquo;{{ query }}&raquo;</i> query.{% endtrans %}</h4>
            {% elseif query is null %}
                <h4>{% trans %}Search results{% endtrans %}</h4>
                {% trans %}Here you will see the search results. Enter your query and press the Search button to begin.{% endtrans %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}