{% extends "skeleton.twig" %}
{% block pageTitle %} Поиск {% endblock %}
{% set navLink = 'search' %}
{% block pageBody %}
<div class="container-fuild">
    {% block error %}
        {% if error %}
            <div id="search-error-report" class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Ошибка:</span>
                Вы не заполнили поле поиска
            </div>
        {% endif %}
    {% endblock %}
    <form method="get">
        <div class="row" id="search-box">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Поиск</button>
                    </span>
                    <input type="text" name="query" class="form-control" value="{{ query }}" placeholder="Введите часть имени файла" required>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
    </form>
    <div class="panel panel-default col-md-6 col-md-offset-3" id="search-panel">
        <div class="panel-body">
            {% if (query is not null) and (files|length != 0) %}
                <h4>Показаны результаты по запросу: <i>&laquo;{{ query }}&raquo;</i></h4>
                <ol>
                    {% for file in files %}
                        <li><a href="/file/{{ file.id }}">{{ file.name }}</a></li>
                    {% endfor %}
                </ol>
                {% if pager.getPages > 1 %}
                    {% include 'pagination.twig' %}
                {% endif %}
            {% elseif (query is not null) and (files|length == 0) %}
                <h4>По запросу <i>&laquo;{{ query }}&raquo;</i> ничего не найдено.</h4>
            {% elseif query is null %}
                <h4>Результаты поиска</h4>
                Здесь будут отображаться результаты поиска. Введите запрос и нажмите кнопку Поиск чтобы начать.
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}